
<div class="container-fluid">
    {% if title %}
        <div class="resources-section-heading">
            <h4 class="topic-highlighter-left">{{ heading }}</h4>
            <div class="outline-btn-green-wrap">
                <a href={{ headingurl }} class="outline-btn-green">View all {{ heading }} </a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% for row in rows %}
            <div class="col-md-4 col-sm-6 my-3">
                <div class="resources-content-box">
                    <div class="resources-image-box">
                        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image }}'] }}
                    </div>
                    <div class="resources-card-content">
                        <div>              
                            <span><i class="fa-solid fa-calendar-check"></i> {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ created }}'] }} </span>
                            <span><i class="fa-solid fa-clock text-green"> </i> {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ created_1 }}'] }} </span>
                        </div>
                        <h6>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h6>
                        <p>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}</p>
                        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node }}'] }}
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>
                </div>
            </div>

 
        {% endfor %}
    </div>
</div>