

	<div class="container-fullwidth navbar-section">

		<div class="topbar">
			<ul>
				<li>
					<a href="#">STORE</a>
				</li>
				<li>
					<a href="#">E-LEARNING</a>
				</li>
			</ul>
		</div>

		<div class="navbar-wrap">

			<!-- NAVBAR -->
			<nav class="navbar navbar-expand-lg bg-white navbar-nav navbar-middle">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">
						<span class="site-logo">ils</span>
					</a>
					<a class="nav-link" aria-current="page" href="#">
						<h4 class="text-dark site-name">INTEGRATED LANGUAGE SOLUTIONS</h4>
					</a>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item d-md-block d-none">
								<a class="nav-link" href="#">
									<i class="fa-solid fa-magnifying-glass search-icon"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>


		<div class="navbar-bottom d-lg-block d-none">
			<div class="container-fluid">
				<ul class="navbar-bottom-menus">
					<li class="menu-link-1">
						<a href="{{base_path}}">
							<i class="fa-solid fa-house-chimney green-secoundary"></i>
						</a>
					</li>
					<li class="menu-link-1">
						<a href="./our-firm">
							<span>OUR FIRM</span>
						</a>
					</li>
					<li class="menu-link-1 has-menu">
						<a href="./translation">
							<span>SERVICES</span>
						</a>
						<div class="menu-level-2">
							<div class="menu-summary">
								<h5>We help accelerate your business to global markets with our industry leading language solutions.</h5>
								<i class="fas fa-times close"></i>
							</div>
							<div class="row">
								<div class="col-4">
									<a href="./translation">
										<div class="menu-link-2 service"></div>
									</a>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="#">
											<span class="menu-link-title">Translation</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Professional Translation</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Certified Translation</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Neural Machine Translation</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Email and Chat Translation</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">On-Demand Translation</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2 menu-link-odd">
										<a href="#">
											<span class="menu-link-title">Interpretation</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">On-site Consecutive and Simultaneous Interpretation</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Over-the-Phone Interpretation</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Video Remote Consecutive and Simultaneous Interpretation </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Real-time Simultaneous Interpretation Application</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Multilingual Customer Support</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Equipment Rental and Support </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Sign-Language Interpretation </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">On-demand interpretation App </span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="#">
											<span class="menu-link-title">Localisation</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Software Localization</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Mobile App Localization</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Game Localization</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Website Localization</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">eLearning Localization</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Multilingual Testing & Quality Assurance</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2 menu-link-odd">
										<a href="#">
											<span class="menu-link-title">Training</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Language Training</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Intercultural Training</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="#">
											<span class="menu-link-title">Staffing</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Multilingual Recruitment Services</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2 menu-link-odd">
										<a href="#">
											<span class="menu-link-title">Marketing Localization</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Multicultural Marketing</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Multilingual Content writing </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Global SEO</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Custom Design </span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="#">
											<span class="menu-link-title">Multimedia Localization</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Transcription</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Subtitling </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">SDH And Closed Captions</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Dubbing </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Voice Over </span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2 menu-link-odd">
										<a href="#">
											<span class="menu-link-title">Artificial Intelligence</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
										<div class="menu-level-3">
											<div class="row">
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Data Services</span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">Multilingual Chatbots </span>
														</a>
													</div>
												</div>
												<div class="col-12">
													<div class="menu-link-3">
														<a href="#">
															<span class="menu-link-title">AI-enabled Simultaneous Interpretation Application</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="menu-link-1">
						<a href="./language">
							<span>LANGUAGES</span>
						</a>
					</li>
					<li class="menu-link-1">
						<a href="./industries">
							<span>INDUSTRIES</span>
						</a>
					</li>
					<li class="menu-link-1 has-menu">
						<a href="#">
							<span>RESOURCES</span>
						</a>
						<div class="menu-level-2">
							<div class="menu-summary">
								<h5>We help accelerate your business to global markets with our industry leading language solutions.</h5>
								<i class="fas fa-times close"></i>
							</div>
							<div class="row">
								<div class="col-4">
									<a href="./resources.php">
										<div class="menu-link-2 resource"></div>
									</a>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="{{ base_path }}news">
											<span class="menu-link-title">News</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2 menu-link-odd">
										<a href="{{ base_path }}blogs">
											<span class="menu-link-title">Blogs</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="{{ base_path }}articles">
											<span class="menu-link-title">Articles</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2 menu-link-odd">
										<a href="{{ base_path }}case-studies">
											<span class="menu-link-title">Case Studies</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</div>
								</div>
								<div class="col-4">
									<div class="menu-link-2">
										<a href="{{ base_path }}language-learning">
											<span class="menu-link-title">Language Learning</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="menu-link-1">
						<a href="./contact-us">
							<span>CONTACT US</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div>
		<nav class="navbar navbar-light bg-light d-lg-none d-block sticky-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<i class="fa-solid fa-magnifying-glass text-green"></i>
				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">HOME</h5>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body menu-small-wrap">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item">
								<a class="nav-link menu-small-link" aria-current="page" href="./our-firm">OUR FIRM</a>
							</li>
							<li class="menu-small has-menu">
								<a class="nav-link menu-small-link" href="#">
									SERVICES
								</a>
								<div class="level-small-2">
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">TRANSLATION</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Professional Translation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Certified Translation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Neural Machine Translation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Email and Chat Translation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>On-Demand Translation</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">INTERPRETATION</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>On-site Consecutive and Simultaneous Interpretation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Over-the-Phone Interpretation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Video Remote Consecutive and Simultaneous Interpretation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Real-time Simultaneous Interpretation Application</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Customer Support</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Equipment Rental and Support</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Customer Support</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Sign-Language Interpretation</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>On-demand interpretation App</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">Localisation</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Software Localization</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Mobile App Localization</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Game Localization</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Website Localization</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>eLearning Localization</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Testing & Quality Assurance</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">Training</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Language Training</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Intercultural Training</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">Staffing</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Recruitment Services</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">Marketing Localization</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multicultural Marketing</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Content writing</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Global SEO</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Custom Design</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">Multimedia Localization</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Transcription</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Subtitling</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>GSDH And Closed Captions</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Dubbing</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Voice Over</span>
												</a>
											</div>
										</div>
									</div>
									<div class="link-small-2 has-menu">
										<a class="nav-link" href="#">Artificial Intelligence</a>
										<div class="level-small-3">
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Data Services</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Chatbots</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>Multilingual Chatbots</span>
												</a>
											</div>
											<div class="link-small-3">
												<a class="nav-link" href="#">
													<span>AI-enabled Simultaneous Interpretation Application</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="menu-small">
								<a class="nav-link menu-small-link" href="/language">LANGUAGES</a>
							</li>
							<li>
								<a class="nav-link menu-small-link" href="/industries">INDUSTRIES</a>
							</li>
							<li class="menu-small has-menu">
								<a class="nav-link menu-small-link" href="#">RESOURCES</a>
								<div class="level-small-2">
									<div class="link-small-2">
										<a class="nav-link" href="{{ base_path }}news">NEWS</a>
									</div>
									<div class="link-small-2">
										<a class="nav-link" href="{{ base_path }}blogs">BLOGS</a>
									</div>
									<div class="link-small-2">
										<a class="nav-link" href="{{ base_path }}articles">ARTICLES</a>
									</div>
									<div class="link-small-2">
										<a class="nav-link" href="{{ base_path }}case-studies">CASE STUDIES</a>
									</div>
									<div class="link-small-2">
										<a class="nav-link" href="{{ base_path }}language-learning">LANGUAGE LEARNING</a>
									</div>
								</div>
							</li>
							<li>
								<a class="nav-link menu-small-link" href="/industries">INDUSTRIES</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>

{# {{ node.id == 20}} #}


	{# <section class="top-banner">
		<div class="row">
			<div class="col-8">
				<div class="top-banner-left">
					{{ page.page_title }} 
				</div>
			</div>
			<div class="col-4">
				<div class="top-banner-right">
					<img src="{{ page.image_in_page|striptags|trim }}">
				</div>
			</div>
		</div>
	</section> #}

	{# {% if node.id == 19 %}
	{% if page.page_title %}
	<section class="top-banner-simple">
		<div class="top-banner-simple-content">
			{{ page.page_title }} 
			<div>
				<img src="{{ page.image_in_page|striptags|trim }}" class="img-fluid">
			</div>
		</div>
	</section>
	{% endif %}
	{% elseif page.type == 'page' or page.type == 'article'%} #}
	{# {% if node.id == 6 or node.id == 21 or node.id == 22 or node.id == 23 or node.id == 24 or node.id == 25 or node.id == 26%} #}
	{% if  node.id != 4 %}
	<section class="top-banner">
		<div class="row">
			<div class="col-8">
				<div class="top-banner-left">
					{{ page.page_title }} 
				</div>
			</div>
			<div class="col-4">
				<div class="top-banner-right">
					<img src="{{ page.image_in_page|striptags|trim }}">
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{# {% endif %} #}
	
	
	{% if page.breadcrumbs %}
	<section class="breadcrum">
		<div class="breadcrum-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5">
						<div class="breadcrum-top-left">
							{{ page.breadcrumbs }}
						</div>
					</div>
					{# <div class="col-md-5">
						<div class="breadcrum-top-left">
							<a href="#">Home</a>
							<i class="fa-solid fa-right-long"></i>
							<a href="#">Resources</a>
						</div>
					</div> #}
					<div class="col-md-7">
						<div class="breadcrum-top-right">
							<div class="breadcrum-social-links">
								<span>Share this page</span>
								<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.current_page_url }}&title=TITLE&source=COMPANY" class="share linkedin" data-network="linkedin"><i class="fa-brands fa-linkedin"></i></a>
								<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.current_page_url }}&t=TITLE" class="share facebook" data-network="facebook"><i class="fa-brands fa-facebook"></i></a>
								<a href="https://twitter.com/share?url={{ page.current_page_url }}&text=TITLE" class="share twitter" data-network="twitter"><i class="fa-brands fa-twitter"></i></a>
							</div>
							<div class="breadcrum-tools">
								<span>Tools</span>
								<i class="fa-regular fa-envelope"></i>
								<i class="fa-regular fa-alarm-clock"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
		{{ page.tool_bar }} 
		{{ page.content }} 

		
   <!-- footer   -->


	<footer class="container-fullwidth">
		<div class="footer-top">	
			<div class="row background-gray">
				<div class="col-lg-6">
					<div class="footer-top-left">
						<h4 class="pb-3"><span>Let's create something amazing</span><span class="footer-top-left-line-break"> together!</span></h4>
						<h6><a href="/contact-us"> Contact Us <i class="fa-solid fa-angle-right"></i></a></h6>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer-top-right">
						<h4 class="pb-3">Stay in the know with our  newsletter</h4>
						<h6> <a href="#">Subscribe <i class="fa-solid fa-angle-right"></i></a></h6>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-between">
			<div class="footer-between-content">
				<div>
					<div class="footer-between-icon"><i class="fa-solid fa-envelope"></i></div>
					<h6>info@integratedlanguages.com</h6>
				</div>
				<div>
					<div class="footer-between-icon"><i class="fa-solid fa-phone"></i></div>
					<h6>+91.124.4268266    +91.9811093093</h6>
				</div>
			</div>
			<div class="footer-content-sm">
				<div class="footer-content-sm-link">
					<div class="footer-between-icon"><i class="fa-solid fa-envelope"></i></div>
					<h6>info@integratedlanguages.com</h6>
				</div>
				<div class="footer-content-sm-link">
					<div class="footer-between-icon"><i class="fa-solid fa-phone"></i></div>
					<h6>+91.124.4268266    +91.9811093093</h6>
				</div>
			</div>
			<div class="scroll-top">
				<a href="#"><i class="fa-solid fa-arrow-up"></i></a>
			</div>
			<div class="footer-icon-bottom">
				<a href="#"><img src="/ng/integrated/themes/custom/integrated/img/footer.png"></a>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="row">
				<div class="col-lg-5">
					<div class="footer-bottom-left">
						<p> Legal Disclaimer </p>
						<p>Privacy Policy</p>
					</div>
				</div>
				<div class="col-lg-7">
					<div>
						<p>© 2022, Integrated Language Solutions Pvt.Ltd. All rights reserved</p> 
					</div>
				</div>
			</div>
		</div>



	</footer>


<!-- Overlay -->
<div class="overlay"></div>



</body>
</html> 