{# <section class="offering">
    <h4 class="topic-highlighter">{{ content.field_title_ }}</h4>
    <div class="offering-content">
        <div class="row">
            {{ content.field_offering_inner_paragraph }}
        </div>
    </div>
</section> #}

<section class="offering" id="offerings">
    <h4 class="topic-highlighter">{{ content.field_title_ }}</h4>
    <div class="offering-content">
    <div class="row">
        <div class="col-lg-6 mt-3">
            {% for key,var in content.field_offering_inner_paragraph %}
            {% if key matches '/^\\d+$/' %}
            <div class="offering-content-left" id="offering-content{{ key }}">
                <h5>{{ var['#paragraph'].field_title_.0.value }}</h5>
                <p>{{ var['#paragraph'].field_body.0.value }}</p>
            </div>
            {% endif %}
            {% endfor %}

            {# <div class="offering-content-left" id="offering-content2">
                <h5>{{ content.field_offering_inner_paragraph.1['#paragraph'].field_title_.0.value }}</h5>
                <p>{{ content.field_offering_inner_paragraph.1['#paragraph'].field_body.0.value }}</p>
            </div>

            <div class="offering-content-left" id="offering-content3">
                <h5>{{ content.field_offering_inner_paragraph.2['#paragraph'].field_title_.0.value }}</h5>
                <p>{{ content.field_offering_inner_paragraph.2['#paragraph'].field_body.0.value }}</p>
            </div>

            <div class="offering-content-left" id="offering-content4">
                <h5>{{ content.field_offering_inner_paragraph.3['#paragraph'].field_title_.0.value }}</h5>
                <p>{{ content.field_offering_inner_paragraph.3['#paragraph'].field_body.0.value }}</p>
            </div>

            <div class="offering-content-left" id="offering-content5">
                <h5>{{ content.field_offering_inner_paragraph.4['#paragraph'].field_title_.0.value }}</h5>
                <p>{{ content.field_offering_inner_paragraph.4['#paragraph'].field_body.0.value }}</p>
            </div>

            <div class="offering-content-left" id="offering-content6">
                <h5>{{ content.field_offering_inner_paragraph.5['#paragraph'].field_title_.0.value }}</h5>
                <p>{{ content.field_offering_inner_paragraph.5['#paragraph'].field_body.0.value }}</p>
            </div> #}

        </div>
        <div class="col-lg-6 mt-3">
            <div class="row h-100">
                <div class="col-sm-6">
                    <div class="offering-img-wrap">
                        {# <img src="{{ content.field_offering_inner_paragraph.0['#paragraph'].field_image.0.value }}" class="img-fluid m-auto" id="offering-img1">
                        <img src="{{ content.field_offering_inner_paragraph.1['#paragraph'].field_image.0.value }}" class="img-fluid m-auto" id="offering-img2">
                        <img src="{{ content.field_offering_inner_paragraph.2['#paragraph'].field_image.0.value }}" class="img-fluid m-auto" id="offering-img3">
                        <img src="{{ content.field_offering_inner_paragraph.3['#paragraph'].field_image.0.value }}" class="img-fluid m-auto" id="offering-img4">
                        <img src="{{ content.field_offering_inner_paragraph.4['#paragraph'].field_image.0.value }}" class="img-fluid m-auto" id="offering-img6">
                        <img src="{{ content.field_offering_inner_paragraph.5['#paragraph'].field_image.0.value }}" class="img-fluid m-auto" id="offering-img5"> #}
                        {{ content.field_offering_inner_paragraph }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100">
                        <table class="h-100 offering-title">
                            {% for key,var in content.field_offering_inner_paragraph %}
                            {% if key matches '/^\\d+$/' %}
                            <tr id="offering-title{{ key }}">
                                <th>0{{ key + 1 }}</th>
                                <th> {{ var['#paragraph'].field_title_.0.value }}</th>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {# <tr id="offering-title2">
                                <th>02</th>
                                <th>{{ content.field_offering_inner_paragraph.1['#paragraph'].field_title_.0.value }} </th>
                            </tr>
                            <tr id="offering-title3">
                                <th>03</th>
                                <th>{{ content.field_offering_inner_paragraph.2['#paragraph'].field_title_.0.value }}</th>
                            </tr>
                            <tr id="offering-title4">
                                <th>04</th>
                                <th>{{ content.field_offering_inner_paragraph.3['#paragraph'].field_title_.0.value }}</th>
                            </tr>
                            <tr id="offering-title5">
                                <th>05</th>
                                <th>{{ content.field_offering_inner_paragraph.4['#paragraph'].field_title_.0.value }}</th>
                            </tr>
                             <tr id="offering-title6">
                                <th>06</th>
                                <th>{{ content.field_offering_inner_paragraph.5['#paragraph'].field_title_.0.value }}</th>
                            </tr> #}
                         </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>