<section class="translation">
    <div class="translation-top">
        <h4 class="topic-highlighter"> {{ content.field_title_}}</h4>
        <p> {{ content.field_body}}</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ content.field_image.0}}" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div class="translation-right">
                <h5> {{ content.field_title_inner}}</h5>
                <ul>
                    <p>{{ content.field_body_inner}}</p>
                </ul>
            </div>
        </div>
    </div>
</section>