<section class="vision">
    <div class="container-fluid">
        <h4 class="topic-highlighter text-center">{{ content.field_main_title }}</h4>
        <div class="row">
            <div class="col-lg-6 ">
                <div class="vision-left">
                    <h5>{{ content.field_title_ }}</h5>
                    <p>{{ content.field_body.0 }}</p>
                    {{ content.field_mission_and_vision_inner }}
                </div>
            </div>
            <div class="col-lg-6 order-first order-lg-last">
                <div class="vision-right">
                    <img src="{{ content.field_image.0 }}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>