<section class="industries-bg my-3 py-5">
    <div class="container-fluid">
    <h4 class="topic-highlighter text-center"> {{content.field_title_}} </h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="industries-text-services pb-3">
                    <p class="py-3">{{content.field_body}}</p>
                    <a href="{{paragraph.field_link.get(0).getUrl().toString()}}" class="explore-btn">{{paragraph.field_link.title}}</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {{content.field_industries_we_serve_inner}}
                </div>
            </div>
        </div>
    </div>
</section>